/*--------------------------------------------------------------------------
Sous Domaine : cabinetcau
Nom du thème : cabinetcau
Type : CSS VARIABLES
Date génération : 2023-01-16T15:45:46.251Z
Version générateur : 1.3.2
--------------------------------------------------------------------------*/

body {
  --primary-50: #e5e9ed;
  --primary-contrast-50: black;
  --primary-100: #bfc9d1;
  --primary-contrast-100: black;
  --primary-200: #94a5b3;
  --primary-contrast-200: black;
  --primary-300: #698194;
  --primary-contrast-300: white;
  --primary-400: #49667d;
  --primary-contrast-400: white;
  --primary-500: #294b66;
  --primary-contrast-500: white;
  --primary-600: #24445e;
  --primary-contrast-600: white;
  --primary-700: #1f3b53;
  --primary-contrast-700: white;
  --primary-800: #193349;
  --primary-contrast-800: white;
  --primary-900: #0f2338;
  --primary-contrast-900: white;
  --primary-A100: #80e4ff;
  --primary-contrast-A100: black;
  --primary-A200: #ffffff;
  --primary-contrast-A200: black;
  --primary-A400: #ffffff;
  --primary-contrast-A400: black;
  --primary-A700: #ffffff;
  --primary-contrast-A700: black;
  --secondary-50: #fceae4;
  --secondary-contrast-50: black;
  --secondary-100: #f8cbbc;
  --secondary-contrast-100: black;
  --secondary-200: #f3a88f;
  --secondary-contrast-200: black;
  --secondary-300: #ee8562;
  --secondary-contrast-300: black;
  --secondary-400: #eb6b40;
  --secondary-contrast-400: black;
  --secondary-500: #e7511e;
  --secondary-contrast-500: white;
  --secondary-600: #e44a1a;
  --secondary-contrast-600: white;
  --secondary-700: #e04016;
  --secondary-contrast-700: white;
  --secondary-800: #dd3712;
  --secondary-contrast-800: white;
  --secondary-900: #d7270a;
  --secondary-contrast-900: white;
  --secondary-A100: #ffffff;
  --secondary-contrast-A100: black;
  --secondary-A200: #ffffff;
  --secondary-contrast-A200: black;
  --secondary-A400: #ffffff;
  --secondary-contrast-A400: black;
  --secondary-A700: #ffffff;
  --secondary-contrast-A700: black;
  --background-base: #f4f6f7;
  --nav-logo-width: 139px;
  --complementary-1-color-light: #8eabbf;
  --complementary-1-color-light-contrast: black;
  --complementary-1-color-dark: #335979;
  --complementary-1-color-dark-contrast: white;
  --complementary-1-color: #6c92ac;
  --complementary-1-color-contrast: black;
  --complementary-2-color-light: #5f778c;
  --complementary-2-color-light-contrast: white;
  --complementary-2-color-dark: #0c1c32;
  --complementary-2-color-dark-contrast: white;
  --complementary-2-color: #2f4e6a;
  --complementary-2-color-contrast: white;
  --complementary-3-color-light: #ee7750;
  --complementary-3-color-light-contrast: black;
  --complementary-3-color-dark: #d61d05;
  --complementary-3-color-dark-contrast: white;
  --complementary-3-color: #e94f1c;
  --complementary-3-color-contrast: white;
  --complementary-4-color-light: #ee5f8a;
  --complementary-4-color-light-contrast: black;
  --complementary-4-color-dark: #d60c2f;
  --complementary-4-color-dark-contrast: white;
  --complementary-4-color: #e92f67;
  --complementary-4-color-contrast: white;
  --complementary-5-color-light: #5f778c;
  --complementary-5-color-light-contrast: white;
  --complementary-5-color-dark: #0c1c32;
  --complementary-5-color-dark-contrast: white;
  --complementary-5-color: #2f4e6a78;
  --complementary-5-color-contrast: white;
  --positive-color-light: #59c291;
  --positive-color-light-contrast: black;
  --positive-color-dark: #087e37;
  --positive-color-dark-contrast: white;
  --positive-color: #27b070;
  --positive-color-contrast: white;
  --negative-color-light: #e74b4d;
  --negative-color-light-contrast: white;
  --negative-color-dark: #c70304;
  --negative-color-dark-contrast: white;
  --negative-color: #e01518;
  --negative-color-contrast: white;
  --perso-globales-couleurPrimaire: #294b66;
  --perso-globales-couleurFond: #f4f6f7;
  --perso-globales-couleurSecondaire: #e7511e;
  --perso-banniereEntreprise-couleurFond: #ffffff;
  --perso-banniereEntreprise-couleurTexte: black;
  --perso-banniereEntreprise-slogan: Des outils de gestion en ligne;
  --perso-banniereNavigation-couleurFond: #294b66;
  --perso-banniereNavigation-couleur1: #e7511e;
  --perso-banniereNavigation-couleur2: #ffffff;
  --perso-tableaux-couleurLigneTotal: #d0dce4;
  --perso-tableaux-couleurLigneTotalTexte: #565655;
  --perso-widgets-couleurSequence1: #6c92ac;
  --perso-widgets-couleurSequence2: #2f4e6a;
  --perso-widgets-couleurSequence3: #e94f1c;
  --perso-widgets-couleurSequence4: #e92f67;
  --perso-widgets-couleurSequence5: #2f4e6a78;
  --perso-widgets-couleurNegative: #e01518;
  --perso-widgets-couleurPositive: #27b070;
  --perso-login-couleurFond: #ffffffba;
  --perso-login-libelleCouleurTexte: #4d4d4d;
  --perso-login-champCouleurTexte: #e74f1d;
  --perso-login-champCouleurFond: #ffffff;
  --perso-calendrier-couleurSelection: #ffffff;
  --perso-calendrier-couleurSelectionTexte: #6b90ab;
  --url-LOGIN_FOND: url('/static/images/LOGIN_FOND.png');
  --url-LOGIN_LOGO: url('/static/images/LOGIN_LOGO.png');
  --url-MAIL_LOGO: url('/static/images/MAIL_LOGO.png');
  --url-BANNIERE_ENTREPRISE_LOGO: url('/static/images/BANNIERE_ENTREPRISE_LOGO.png');
  --url-WIDGET_LOGO: url('/static/images/WIDGET_LOGO.png');
}
.hello-content {
  display: none;
}
