/*--------------------------------------------------------------------------
Sous Domaine : davidhaye
Nom du thème : davidhaye
Type : CSS VARIABLES
Date génération : 2023-01-16T15:45:58.925Z
Version générateur : 1.3.2
--------------------------------------------------------------------------*/

body {
  --primary-50: #f2f8e6;
  --primary-contrast-50: black;
  --primary-100: #deedc0;
  --primary-contrast-100: black;
  --primary-200: #c8e196;
  --primary-contrast-200: black;
  --primary-300: #b1d56c;
  --primary-contrast-300: black;
  --primary-400: #a1cc4d;
  --primary-contrast-400: black;
  --primary-500: #90c32d;
  --primary-contrast-500: black;
  --primary-600: #88bd28;
  --primary-contrast-600: black;
  --primary-700: #7db522;
  --primary-contrast-700: black;
  --primary-800: #73ae1c;
  --primary-contrast-800: black;
  --primary-900: #61a111;
  --primary-contrast-900: white;
  --primary-A100: #f6ffe2;
  --primary-contrast-A100: black;
  --primary-A200: #ffffff;
  --primary-contrast-A200: black;
  --primary-A400: #ffffff;
  --primary-contrast-A400: black;
  --primary-A700: #ffffff;
  --primary-contrast-A700: black;
  --secondary-50: #e4e4e6;
  --secondary-contrast-50: black;
  --secondary-100: #bcbcc1;
  --secondary-contrast-100: black;
  --secondary-200: #909098;
  --secondary-contrast-200: black;
  --secondary-300: #63636f;
  --secondary-contrast-300: white;
  --secondary-400: #414150;
  --secondary-contrast-400: white;
  --secondary-500: #202031;
  --secondary-contrast-500: white;
  --secondary-600: #1c1c2c;
  --secondary-contrast-600: white;
  --secondary-700: #181825;
  --secondary-contrast-700: white;
  --secondary-800: #13131f;
  --secondary-contrast-800: white;
  --secondary-900: #0b0b13;
  --secondary-contrast-900: white;
  --secondary-A100: #62acff;
  --secondary-contrast-A100: black;
  --secondary-A200: #ffffff;
  --secondary-contrast-A200: black;
  --secondary-A400: #ffffff;
  --secondary-contrast-A400: black;
  --secondary-A700: #ffffff;
  --secondary-contrast-A700: black;
  --background-base: #f3f3f4;
  --nav-logo-width: 228px;
  --complementary-1-color-light: #535360;
  --complementary-1-color-light-contrast: white;
  --complementary-1-color-dark: #07070d;
  --complementary-1-color-dark-contrast: white;
  --complementary-1-color: #20203169;
  --complementary-1-color-contrast: white;
  --complementary-2-color-light: #535360;
  --complementary-2-color-light-contrast: white;
  --complementary-2-color-dark: #07070d;
  --complementary-2-color-dark-contrast: white;
  --complementary-2-color: #202031a8;
  --complementary-2-color-contrast: white;
  --complementary-3-color-light: #535360;
  --complementary-3-color-light-contrast: white;
  --complementary-3-color-dark: #07070d;
  --complementary-3-color-dark-contrast: white;
  --complementary-3-color: #202031;
  --complementary-3-color-contrast: white;
  --complementary-4-color-light: #aad05e;
  --complementary-4-color-light-contrast: black;
  --complementary-4-color-dark: #58970b;
  --complementary-4-color-dark-contrast: white;
  --complementary-4-color: #91c22e6b;
  --complementary-4-color-contrast: black;
  --complementary-5-color-light: #aad05e;
  --complementary-5-color-light-contrast: black;
  --complementary-5-color-dark: #58970b;
  --complementary-5-color-dark-contrast: white;
  --complementary-5-color: #91c22e;
  --complementary-5-color-contrast: black;
  --positive-color-light: #aad15d;
  --positive-color-light-contrast: black;
  --positive-color-dark: #57990a;
  --positive-color-dark-contrast: white;
  --positive-color: #90c32d;
  --positive-color-contrast: black;
  --negative-color-light: #e84577;
  --negative-color-light-contrast: white;
  --negative-color-dark: #c8011c;
  --negative-color-dark-contrast: white;
  --negative-color: #e10e4e;
  --negative-color-contrast: white;
  --perso-globales-couleurPrimaire: #90c32d;
  --perso-globales-couleurFond: #f3f3f4;
  --perso-globales-couleurSecondaire: #202031;
  --perso-banniereEntreprise-couleurFond: #ffffff;
  --perso-banniereEntreprise-couleurTexte: black;
  --perso-banniereEntreprise-slogan: La gestion en ligne de votre entreprise;
  --perso-banniereNavigation-couleurFond: #202031;
  --perso-banniereNavigation-couleur1: #90c32d;
  --perso-banniereNavigation-couleur2: #ffffff;
  --perso-tableaux-couleurLigneTotal: #e3e3e3;
  --perso-tableaux-couleurLigneTotalTexte: #000000;
  --perso-widgets-couleurSequence1: #20203169;
  --perso-widgets-couleurSequence2: #202031a8;
  --perso-widgets-couleurSequence3: #202031;
  --perso-widgets-couleurSequence4: #91c22e6b;
  --perso-widgets-couleurSequence5: #91c22e;
  --perso-widgets-couleurNegative: #e10e4e;
  --perso-widgets-couleurPositive: #90c32d;
  --perso-login-couleurFond: #ffffff;
  --perso-login-libelleCouleurTexte: #4d4d4d;
  --perso-login-champCouleurTexte: #4d4d4d;
  --perso-login-champCouleurFond: #ffffff;
  --perso-calendrier-couleurSelection: #f5faea;
  --perso-calendrier-couleurSelectionTexte: #90c32d;
  --url-LOGIN_FOND: url('/static/images/LOGIN_FOND.png');
  --url-LOGIN_LOGO: url('/static/images/LOGIN_LOGO.png');
  --url-MAIL_LOGO: url('/static/images/MAIL_LOGO.png');
  --url-BANNIERE_ENTREPRISE_LOGO: url('/static/images/BANNIERE_ENTREPRISE_LOGO.png');
  --url-WIDGET_LOGO: url('/static/images/WIDGET_LOGO.png');
}
.hello-content {
  display: none;
}
