/*--------------------------------------------------------------------------
Sous Domaine : kpmg
Nom du thÃ¨me : kpmg-v7
Type : CSS VARIABLES
Date gÃ©nÃ©ration : 2023-01-16T15:48:45.954Z
Version gÃ©nÃ©rateur : 1.3.2
--------------------------------------------------------------------------*/

body {
  --primary-50: #ebe9ff;
  --primary-contrast-50: black;
  --primary-100: #ccc8ff;
  --primary-contrast-100: black;
  --primary-200: #aaa3ff;
  --primary-contrast-200: black;
  --primary-300: #887eff;
  --primary-contrast-300: black;
  --primary-400: #6f62ff;
  --primary-contrast-400: white;
  --primary-500: #5546ff;
  --primary-contrast-500: white;
  --primary-600: #4e3fff;
  --primary-contrast-600: white;
  --primary-700: #4437ff;
  --primary-contrast-700: white;
  --primary-800: #3b2fff;
  --primary-contrast-800: white;
  --primary-900: #2a20ff;
  --primary-contrast-900: white;
  --primary-A100: #ffffff;
  --primary-contrast-A100: black;
  --primary-A200: #ffffff;
  --primary-contrast-A200: black;
  --primary-A400: #ffffff;
  --primary-contrast-A400: black;
  --primary-A700: #ffffff;
  --primary-contrast-A700: black;
  --secondary-50: #e0e7f1;
  --secondary-contrast-50: black;
  --secondary-100: #b3c2dd;
  --secondary-contrast-100: black;
  --secondary-200: #8099c6;
  --secondary-contrast-200: black;
  --secondary-300: #4d70af;
  --secondary-contrast-300: white;
  --secondary-400: #26529e;
  --secondary-contrast-400: white;
  --secondary-500: #00338d;
  --secondary-contrast-500: white;
  --secondary-600: #002e85;
  --secondary-contrast-600: white;
  --secondary-700: #00277a;
  --secondary-contrast-700: white;
  --secondary-800: #002070;
  --secondary-contrast-800: white;
  --secondary-900: #00145d;
  --secondary-contrast-900: white;
  --secondary-A100: #91c1ff;
  --secondary-contrast-A100: black;
  --secondary-A200: #ffffff;
  --secondary-contrast-A200: black;
  --secondary-A400: #ffffff;
  --secondary-contrast-A400: black;
  --secondary-A700: #ffffff;
  --secondary-contrast-A700: black;
  --background-base: #f2f2f2;
  --nav-logo-width: 307px;
  --complementary-1-color-light: #cd74d5;
  --complementary-1-color-light-contrast: black;
  --complementary-1-color-dark: #911ba0;
  --complementary-1-color-dark-contrast: white;
  --complementary-1-color: #be4bc8;
  --complementary-1-color-contrast: white;
  --complementary-2-color-light: #9f6dff;
  --complementary-2-color-light-contrast: black;
  --complementary-2-color-dark: #4814ff;
  --complementary-2-color-dark-contrast: white;
  --complementary-2-color: #8241ff;
  --complementary-2-color-contrast: white;
  --complementary-3-color-light: #728399;
  --complementary-3-color-light-contrast: black;
  --complementary-3-color-dark: #192740;
  --complementary-3-color-dark-contrast: white;
  --complementary-3-color: #485e7a45;
  --complementary-3-color-contrast: white;
  --complementary-4-color-light: #78c1ff;
  --complementary-4-color-light-contrast: black;
  --complementary-4-color-dark: #1e7dff;
  --complementary-4-color-dark-contrast: white;
  --complementary-4-color: #50afff;
  --complementary-4-color-contrast: black;
  --complementary-5-color-light: #f0f9ff;
  --complementary-5-color-light-contrast: black;
  --complementary-5-color-dark: #daf0ff;
  --complementary-5-color-dark-contrast: black;
  --complementary-5-color: #ebf7ff;
  --complementary-5-color-contrast: black;
  --positive-color-light: #e0e0e0;
  --positive-color-light-contrast: black;
  --positive-color-dark: #b8b8b8;
  --positive-color-dark-contrast: black;
  --positive-color: #d7d7d7;
  --positive-color-contrast: black;
  --negative-color-light: #7c71ff;
  --negative-color-light-contrast: black;
  --negative-color-dark: #2118ff;
  --negative-color-dark-contrast: white;
  --negative-color: #5546ff;
  --negative-color-contrast: white;
  --perso-globales-couleurPrimaire: #5546ff;
  --perso-globales-couleurFond: #f2f2f2;
  --perso-globales-couleurSecondaire: #00338d;
  --perso-banniereEntreprise-couleurFond: #ffffff;
  --perso-banniereEntreprise-couleurTexte: black;
  --perso-banniereEntreprise-slogan: ;
  --perso-banniereNavigation-couleurFond: #f0f3ff;
  --perso-banniereNavigation-couleur1: #50afff;
  --perso-banniereNavigation-couleur2: #5546ff;
  --perso-tableaux-couleurLigneTotal: #f0f3ff;
  --perso-tableaux-couleurLigneTotalTexte: #4d4d4d;
  --perso-widgets-couleurSequence1: #be4bc8;
  --perso-widgets-couleurSequence2: #8241ff;
  --perso-widgets-couleurSequence3: #485e7a45;
  --perso-widgets-couleurSequence4: #50afff;
  --perso-widgets-couleurSequence5: #ebf7ff;
  --perso-widgets-couleurNegative: #5546ff;
  --perso-widgets-couleurPositive: #d7d7d7;
  --perso-login-couleurFond: #ffffff;
  --perso-login-libelleCouleurTexte: #00338d;
  --perso-login-champCouleurTexte: #171717;
  --perso-login-champCouleurFond: #ffffff;
  --perso-calendrier-couleurSelection: #f0f3ff;
  --perso-calendrier-couleurSelectionTexte: #00338d;
  --url-LOGIN_FOND: url('/static/images/LOGIN_FOND.jpg');
  --url-LOGIN_LOGO: url('/static/images/LOGIN_LOGO.png');
  --url-MAIL_LOGO: url('/static/images/MAIL_LOGO.jpg');
  --url-BANNIERE_ENTREPRISE_LOGO: url('/static/images/BANNIERE_ENTREPRISE_LOGO.png');
  --url-WIDGET_LOGO: url('/static/images/WIDGET_LOGO.png');
}
.hello-content {
  display: none;
}
