/*--------------------------------------------------------------------------
Sous Domaine : myeridya
Nom du thème : myeridya2
Type : CSS VARIABLES
Date génération : 2023-01-16T15:48:27.260Z
Version générateur : 1.3.2
--------------------------------------------------------------------------*/

body {
  --primary-50: #e1e6e8;
  --primary-contrast-50: black;
  --primary-100: #b4c1c5;
  --primary-contrast-100: black;
  --primary-200: #82989f;
  --primary-contrast-200: black;
  --primary-300: #4f6e78;
  --primary-contrast-300: white;
  --primary-400: #2a4f5b;
  --primary-contrast-400: white;
  --primary-500: #04303e;
  --primary-contrast-500: white;
  --primary-600: #032b38;
  --primary-contrast-600: white;
  --primary-700: #032430;
  --primary-contrast-700: white;
  --primary-800: #021e28;
  --primary-contrast-800: white;
  --primary-900: #01131b;
  --primary-contrast-900: white;
  --primary-A100: #60ffd6;
  --primary-contrast-A100: black;
  --primary-A200: #ffffff;
  --primary-contrast-A200: black;
  --primary-A400: #ffffff;
  --primary-contrast-A400: black;
  --primary-A700: #ffffff;
  --primary-contrast-A700: black;
  --secondary-50: #fcece6;
  --secondary-contrast-50: black;
  --secondary-100: #f8cfc1;
  --secondary-contrast-100: black;
  --secondary-200: #f4af98;
  --secondary-contrast-200: black;
  --secondary-300: #f08f6f;
  --secondary-contrast-300: black;
  --secondary-400: #ec7750;
  --secondary-contrast-400: black;
  --secondary-500: #e95f31;
  --secondary-contrast-500: black;
  --secondary-600: #e6572c;
  --secondary-contrast-600: white;
  --secondary-700: #e34d25;
  --secondary-contrast-700: white;
  --secondary-800: #df431f;
  --secondary-contrast-800: white;
  --secondary-900: #d93213;
  --secondary-contrast-900: white;
  --secondary-A100: #ffffff;
  --secondary-contrast-A100: black;
  --secondary-A200: #ffffff;
  --secondary-contrast-A200: black;
  --secondary-A400: #ffffff;
  --secondary-contrast-A400: black;
  --secondary-A700: #ffffff;
  --secondary-contrast-A700: black;
  --background-base: #f2f4f5;
  --nav-logo-width: 144px;
  --complementary-1-color-light: #ee835f;
  --complementary-1-color-light-contrast: black;
  --complementary-1-color-dark: #d6270c;
  --complementary-1-color-dark-contrast: white;
  --complementary-1-color: #e95e2f;
  --complementary-1-color-contrast: black;
  --complementary-2-color-light: #f1ad97;
  --complementary-2-color-light-contrast: black;
  --complementary-2-color-dark: #de5d3e;
  --complementary-2-color-dark-contrast: black;
  --complementary-2-color: #ed9578;
  --complementary-2-color-contrast: black;
  --complementary-3-color-light: #f7d9d0;
  --complementary-3-color-light-contrast: black;
  --complementary-3-color-dark: #ecaa97;
  --complementary-3-color-dark-contrast: black;
  --complementary-3-color: #f5cec2;
  --complementary-3-color-contrast: black;
  --complementary-4-color-light: #3e606a;
  --complementary-4-color-light-contrast: white;
  --complementary-4-color-dark: #000d13;
  --complementary-4-color-dark-contrast: white;
  --complementary-4-color: #04313ea6;
  --complementary-4-color-contrast: white;
  --complementary-5-color-light: #3e606a;
  --complementary-5-color-light-contrast: white;
  --complementary-5-color-dark: #000d13;
  --complementary-5-color-dark-contrast: white;
  --complementary-5-color: #04313e;
  --complementary-5-color-contrast: white;
  --positive-color-light: #49c196;
  --positive-color-light-contrast: black;
  --positive-color-dark: #037d3c;
  --positive-color-dark-contrast: white;
  --positive-color: #12af76;
  --positive-color-contrast: white;
  --negative-color-light: #e0566a;
  --negative-color-light-contrast: black;
  --negative-color-dark: #b80713;
  --negative-color-dark-contrast: white;
  --negative-color: #d7233e;
  --negative-color-contrast: white;
  --perso-globales-couleurPrimaire: #04303e;
  --perso-globales-couleurFond: #f2f4f5;
  --perso-globales-couleurSecondaire: #e95f31;
  --perso-banniereEntreprise-couleurFond: #04303e;
  --perso-banniereEntreprise-couleurTexte: white;
  --perso-banniereEntreprise-slogan: La gestion en ligne de votre entreprise;
  --perso-banniereNavigation-couleurFond: #04313e;
  --perso-banniereNavigation-couleur1: #e85f31;
  --perso-banniereNavigation-couleur2: #ffffff;
  --perso-tableaux-couleurLigneTotal: #d0dbdf;
  --perso-tableaux-couleurLigneTotalTexte: #04303e;
  --perso-widgets-couleurSequence1: #e95e2f;
  --perso-widgets-couleurSequence2: #ed9578;
  --perso-widgets-couleurSequence3: #f5cec2;
  --perso-widgets-couleurSequence4: #04313ea6;
  --perso-widgets-couleurSequence5: #04313e;
  --perso-widgets-couleurNegative: #d7233e;
  --perso-widgets-couleurPositive: #12af76;
  --perso-login-couleurFond: #04313e;
  --perso-login-libelleCouleurTexte: #a2a2a2;
  --perso-login-champCouleurTexte: #c2c2c2;
  --perso-login-champCouleurFond: #ffffff;
  --perso-calendrier-couleurSelection: #ffffff;
  --perso-calendrier-couleurSelectionTexte: #e95f31;
  --url-LOGIN_FOND: url('/static/images/LOGIN_FOND.png');
  --url-LOGIN_LOGO: url('/static/images/LOGIN_LOGO.png');
  --url-MAIL_LOGO: url('/static/images/MAIL_LOGO.png');
  --url-BANNIERE_ENTREPRISE_LOGO: url('/static/images/BANNIERE_ENTREPRISE_LOGO.png');
  --url-WIDGET_LOGO: url('/static/images/WIDGET_LOGO.png');
}
.hello-content {
  display: none;
}
